<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feliz dias das Mães</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilo.css') }}">
</head>
<body>
    <a href="{{ url_for('upload') }}">Adicionar nova imagem</a>
    {% block content %}
    <h1>Escolha uma Data</h1>
    <form action="{{ url_for('homepage')}}" method="POST">
        <input type="date" name="hoje" placeholder="Que dia é hoje?"><br>
        <input type="submit" value="Confirmar">
    </form>
    
    {% endblock %}
</body>
</html>